<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
</head>
<body>
    <h1>
        Hello there
    </h1>
    <p>Rise with focus, even when the path feels unclear.
Learn something small today that your future self will thank you for.
Stay consistent when motivation fades away.
Success grows quietly through daily effort.</p>
<button>click me</button>
</body>
</html>